@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efecto Scroll */
html {
    scroll-behavior: smooth;
}

/* Animacion */
         
.image__canarias{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.image__canarias:hover{
    transform: scale3d(1.2, 1.2, 0.8);
        -webkit-transform: scale3d(1.2, 1.2, 0.8);
        -moz-transform: scale3d(1.2, 1.2, 0.8);
}
